SECRET_KEY=troque-esta-chave-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=financas
DB_USER=financas
DB_PASSWORD=financas
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

CORS_ALLOWED_ORIGINS=http://localhost:3000

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

DJANGO_SETTINGS_MODULE=core.settings.development
