DEBUG=0
SECRET_KEY=change-me-prod
ALLOWED_HOSTS=backend,frontend,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:3000
DB_NAME=financas
DB_USER=financas
DB_PASSWORD=financas
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=7